# P1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [10]:
mul3 = set()
mul5 = set()

for num in range(1000):
    if((num%3)==0):
        mul3.add(num)
    if((num%5)==0):
        mul5.add(num)

mul35 = mul3 | mul5

# Answer

In [11]:
print(sum(mul35))

233168